<h1>New Repositories have been added...</h1>

<% if @repositories %>

	<% @repositories.each do |repo| %>
	    <%= link_to @github_user, "http://github.com/#{@github_user}" %> / 
	    <%= link_to repo, "http://github.com/#{@github_user}/#{repo}", :style => "font-weight:bolder;" %>
	    <hr/>
	<% end %>

<% end %>