%header.jumbotron.subhead#overview
  .row
    .span6
      %h1 How it works...
      %p.lead A calm, blue sky.
    .span6
      .well
        %p.lead Testing, testing...
  .subnav
    %ul.nav.nav-pills
      %li
        = link_to 'The Cloakables around us', '#1'
      %li
        = link_to 'Heading 2', '#2'
      %li
        = link_to 'Heading 3', '#3'
